PORT=3001
DATABASE_URL="postgresql://clashuser:clashpass@localhost:5432/clashhub_db?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET="dev-access-secret-ganti-di-produksi"
JWT_REFRESH_SECRET="dev-refresh-secret-ganti-di-produksi"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
UPLOAD_DIR="./uploads"
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM="ClashHub <noreply@clashhub.dev>"
WEB_BASE_URL="http://localhost:3000"
